#https://superuser.com/questions/944244/running-a-java-process-from-systemd

[Unit]
Description=xdocc service

[Service]
WorkingDirectory=/var/lib/xdocc
ExecStart=/usr/lib/xdocc/xdocc.sh
User=root

[Install]
WantedBy=multi-user.target