:root {
    --back-color: #fff;
    --fore-color: #444;
    --card-fore-color: #444;
    --secondary-fore-color: #555;
    --universal-border-radius: 0.3rem;
}

.box-centered { text-align: center; }
.box-colored { background: #0277bd; border-radius: 2px; padding: 14px; margin-bottom: 8px; min-height: 14px;}
.box-colored.red { background: #e53935; }
.box-centered .card.fluid {-webkit-box-pack: start; -webkit-box-align: start; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-align-self: auto; align-self: auto; }
[class^='col-'] .box-left { text-align: left; }
li a { text-decoration: none; }
h2.section + div.section.box-left { height: 100%; }

.card * h1 {
    background: var(--card-back-color);
    color: var(--card-fore-color);
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 0.0625rem solid var(--card-border-color);
    padding: var(--universal-padding);
    width: 100%;
}

[alt~="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

[alt~="small"], #logo-small {
    height: 1em;
}

[alt~="medium"],#logo-small2 {
    height: 1.5em;
}

header.row a span {
    display:none;
}
@media (min-width: 768px) {
    header.row a span {
        display: inline;
    }
}

#logo-body {
    background-image: url(back.svg);
    background-attachment: fixed;
    height: calc(80vh - 48px);
    text-align: center;
    color: white;
}

#logo-body_blog {
    background-image: url(back_blog.svg);
    background-attachment: fixed;
    height: calc(30vh - 48px);
    text-align: center;
    color: white;
}

#logo-img {
    height: calc(20vh);
}

#logo-img_blog {
    margin:0 auto;
    padding: 2em;
    height: 5em;
    width: 80%;
    border-radius: 5px;
    transform: rotate(-1deg);
    background: #fff;
    color: #000;
    box-sizing: border-box;
}

[alt="logo-medium"],#logo-medium {
    height: 5em;
}

.centered {
	vertical-align: middle;
    text-align: center;
}

#logo-center {
    padding-top: 10vh;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

#logo-img-background {
    height: calc(75vh);
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* mini.css has a 400px height for tables, disable it */
table:not(.horizontal) {
    max-height: 100%;
}

#document div {
    margin-top:0.5em;
    padding:1em;
}
#document h1 {
    border-bottom: 2px solid;
    text-shadow: 0 1px 2px rgba(100,100,100,0.5)
}
#document h2 {
    border-bottom: 1px solid;
    text-shadow: 0 1px 2px rgba(100,100,100,0.5)
}

/* not using minicss default tables, as they give every td the same weight */
table { 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #bbb; 
  font-weight: bold;
}
td, th { 
  border: 1px solid #ccc; 
  text-align: left;
  padding: 1em;
}

html {
  font-size:1.25em;
  word-wrap: break-word;
  color: #888;
  font-weight: 300;
}

#document_blog div {

}

.blog {
    border: 1px solid #000;
    padding: 0em;
    margin: 0;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
  table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
