:root {
    --back-color: #fff;
}

.box-centered { text-align: center; }
.box-colored { background: #0277bd; border-radius: 2px; padding: 14px; margin-bottom: 8px; min-height: 14px;}
.box-colored.red { background: #e53935; }
.box-centered .card.fluid {-webkit-box-pack: start; -webkit-box-align: start; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-align-self: auto; align-self: auto; }
[class^='col-'] .box-left { text-align: left; }
li a { text-decoration: none; }
h2.section + div.section.box-left { height: 100%; }

.card * h1 {
    background: var(--card-back-color);
    color: var(--card-fore-color);
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 0.0625rem solid var(--card-border-color);
    padding: var(--universal-padding);
    width: 100%;
}

header.row a span {
    display:none;
}
@media (min-width: 768px) {
    header.row a span {
        display: inline;
    }
}

#logo-body {
    position: relative;
    background: linear-gradient(#0a1528 25%, #0f213f 45%, #163260 75%, #193b72);
    height: calc(100vh - 48px);
    overflow: hidden;
    text-align: center;
    color: white;
}
#logo-img {
    height: calc(20vh);
}

[alt="logo-small"],#logo-small {
    height: 1em;
}

[alt="logo-small2"],#logo-small2 {
    height: 1.5em;
}

[alt="logo-medium"],#logo-medium {
    height: 5em;
}

.centered {
	vertical-align: middle;
    text-align: center;
}

#logo-center {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#logo-img-background {
    height: calc(75vh);
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
